<div class="black-fill-background" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10vw">

    <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="7.5vw">
        <h1 class="accent-col"><b>404</b> Page not found :(</h1>
    </div>
    <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="3.75vw">
        <button mat-raised-button color="accent" [routerLink]="['/landing']">
            <span>Return home </span>
            <mat-icon color="primary">arrow_forward</mat-icon>
        </button>
    </div>
</div>