<div class="black-fill-background" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="7.5vw">
    <h2>Your playlist is ready!</h2>
    <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="24px">
        <img src={{pl.imgUrl}} />
        <h3><b>{{pl.name}}</b></h3>
        <h5>{{pl.description}}</h5>

    </div>
    <div fxLayout="row" fxLayoutAlign="center end">
        <button mat-raised-button color="accent" (click)="open(pl.shareUrl)">
            <mat-icon color="primary">launch</mat-icon>
            <span> Open in Spotify</span>
        </button>
    </div>
</div>