<div class="black-fill-background" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10vw">

    <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="7.5vw">
        <h2>Welcome to Toget<b>hear</b></h2>

        <h3>Music unity starts here</h3>
    </div>
    <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="3.75vw">
        <button mat-raised-button color="accent" [routerLink]="['/login']">
            <mat-icon color="primary">arrow_forward</mat-icon>
            <span> Get Started</span>
        </button>
        <button mat-stroked-button color="accent" [routerLink]="['/learnmore']">
            <mat-icon color="accent">arrow_downward</mat-icon>
            <p> Learn More</p>
        </button>
    </div>
</div>