img {
    height: 150px;
    border-radius: 50%;
}

table {
    width: 100%;
}

.wrapper {
    margin: 24px;
}

.col {
    width: 100%;
}

a {
    color: black;
}

.fab {
    position: fixed;
    bottom: 24px;
}