<mat-toolbar *ngIf="client.ready" fxLayout="row" fxLayoutAlign="space-between center" color="primary">
    <h1 class="accent-col" [routerLink]="['/landing']">
        Toget<b>hear</b>
    </h1>
    <h2 class="accent-col">
        <span class="mobile-hide">Logged in as <b>{{client.username}}</b>. </span><u (click)="logout()">Logout</u>?
    </h2>
</mat-toolbar>
<div fxLayout="row wrap" fxLayoutAlign="space-evenly" fxLayoutGap="2vw" class="wrapper">
    <div *ngFor="let u of users;" class="col" fxLayout="column" fxLayoutGap="1vw">
        <div fxLayout="row" fxLayoutAlign="start" fxLayoutGap="2vw">
            <img class="profile-img" src={{u.profileUrl}} />
            <div fxLayout="column" fxLayoutAlign="center start" fxLayoutGap="2vw">
                <h3>{{u.title}}</h3>
                <h4>{{u.name}} - <a href={{u.url}}>View Profile</a></h4>
                <h5>{{u.playlistCount}} playlists - {{u.followerCount}} followers</h5>
            </div>
        </div>
        <div fxLayout="row" fxLayoutAlign="end">
            <mat-slide-toggle [disabled]="!u.isClient" (click)="togglePrivate(u)">Include private playlists?</mat-slide-toggle>
        </div>
        <table mat-table [dataSource]="u.shownPlaylists">
            <ng-container matColumnDef="check">
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let element">
                    <div class="sel">
                        <mat-checkbox [(ngModel)]="element.check"></mat-checkbox>
                    </div>
                </td>
            </ng-container>

            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef> Playlist Name </th>
                <td mat-cell *matCellDef="let element"> {{element.name}} </td>
            </ng-container>

            <ng-container matColumnDef="creator">
                <th mat-header-cell *matHeaderCellDef> Creator </th>
                <td mat-cell *matCellDef="let element"> {{element.creator}} </td>
            </ng-container>

            <ng-container matColumnDef="songs">
                <th mat-header-cell *matHeaderCellDef> Songs </th>
                <td mat-cell *matCellDef="let element"> {{element.songs}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>
    <div *ngIf="users.length == 1" class="col" fxLayout="column" fxLayoutGap="1vw">
        <div fxLayout="row" fxLayoutAlign="start" fxLayoutGap="2vw">
            <img class="profile-img" src={{emptyUser.profileUrl}} />
            <div fxLayout="column" fxLayoutAlign="center start" fxLayoutGap="2vw">
                <h3>{{emptyUser.title}}</h3>
                <mat-form-field class="example-form-field">
                    <mat-label>Search for Spotify User</mat-label>
                    <input matInput [formControl]="searchControl" type="text" (keyup.enter)="search()">
                    <mat-icon matSuffix (click)="search()">search</mat-icon>
                </mat-form-field>
            </div>
        </div>
    </div>
</div>

<div fxLayout="row" fxLayoutAlign="center end" *ngIf="users.length == 2">
    <button mat-fab class="fab" color="accent" (click)="unify()">
        <mat-icon color="primary">merge_type</mat-icon>
    </button>
</div>