/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.black-fill-background {
    background-color: black;
    height: 100%;
}

.accent-col {
    color: #a5ffef;
}

.profile-img {
    height: calc(12vw + 12px);
    border-radius: 50%;
}

.playlist-img {
    height: calc(16vw + 150px);
}

table {
    width: 100%;
}

.wrapper {
    margin: 24px;
}

.col {
    width: 100%;
    margin-bottom: 8vw;
}

@media (min-width: 1024px) {
    .col {
        width: calc(50% - 2vw);
        margin-bottom: 8vw;
    }
}


/*header bar*/

@media (max-width: 1023px) {
    .mobile-hide {
        display: none;
    }
}

a {
    color: black;
}

.fab {
    position: fixed !important;
    bottom: 24px;
}

.mat-cell {
    font-size: calc(8pt + 0.4vw) !important;
    padding: 4px 4px 4px 0px !important;
}

.mat-h1,
.mat-headline,
.mat-typography h1 {
    font: 400 8vw/2.5vw Roboto, "Helvetica Neue", sans-serif;
    letter-spacing: normal;
    margin: 0 0 16px;
    font-weight: lighter;
}

.mat-h2,
.mat-title,
.mat-typography h2 {
    font: 500 4vw/2.25vw Roboto, "Helvetica Neue", sans-serif;
    letter-spacing: normal;
    margin: 0 0 16px;
    font-weight: lighter;
}

.mat-h3,
.mat-subheading-2,
.mat-typography h3 {
    font: 400 calc(3vw + 4pt)/calc(2vw + 4pt) Roboto, "Helvetica Neue", sans-serif;
    letter-spacing: normal;
    margin: 0 0 16px;
    font-weight: lighter;
}

.mat-h4,
.mat-subheading-1,
.mat-typography h4 {
    font: 400 calc(2vw + 4pt)/calc(2vw + 4pt) Roboto, "Helvetica Neue", sans-serif;
    letter-spacing: normal;
    margin: 0 0 16px;
    font-weight: lighter;
}

.mat-h5,
.mat-typography h5 {
    font: 400 calc(1.5vw + 4pt)/calc(1.5vw + 4pt) Roboto, "Helvetica Neue", sans-serif;
    margin: 0 0 12px;
    font-weight: lighter;
}

.mat-h6,
.mat-typography h6 {
    font: 400 1.25vw/1.5vw Roboto, "Helvetica Neue", sans-serif;
    margin: 0 0 12px;
    font-weight: lighter;
}

.mat-toolbar,
.mat-toolbar h1,
.mat-toolbar h2,
.mat-toolbar h3,
.mat-toolbar h4,
.mat-toolbar h5,
.mat-toolbar h6 {
    font: 500 calc(1.5vw + 8pt)/calc(1.5vw + 8pt) Roboto, "Helvetica Neue", sans-serif;
    letter-spacing: normal;
    margin: 0;
    font-weight: lighter;
}